header{
    background-color: rgb(112, 0, 0);/*cor de fundo*/
    color: rgb(0, 0, 0); /*cor da fonte*/
    text-align: center;
    max: width 800px; 
    margin: 0 auto; 
    padding: 0px; /* espaçamento interno*/
border: 5px solid black;
    
}
main{
    background-color: rgb(211, 116, 116);/*cor de fundo do texto principal*/
    color: rgb(0, 12, 46);/*cor da fonte*/
    text-align: center; /*alinhamento do texto*/
    max-width: 800px;/*largura maxima*/
    margin: 0 auto;/*margens*/
    padding:16px;/**/
    display: flex /*habilita o uso de flex box*/
    flex-direction: row  orienta os elementos na horizontal em ordem 1, 2, 3
}

footer{
    background-color: rgb(109, 2, 2);/* cor de fundo do radapé*/
    color: rgb(6, 0, 41);/* cor da fonte*/
     text-align: center;
    max: width 800px; 
    margin: 0 auto; 
    padding: 0px; /* espaçamento interno*/
    border: 5px solid black;  
}
 img{
    width: 80px;/*largura*/
    height: 80px; /*altura*/
 }